<VirtualHost *:80>
  ServerName {{ servername }}
  DocumentRoot "{{ documentroot }}"
  {% if serveradmin %}
  ServerAdmin {{ serveradmin }}
  {% endif %}
  <Directory "{{ directorypath }}">
     AllowOverride All
     Options Indexes FollowSymLinks
     Require all granted
  </Directory>
</VirtualHost>
