{%- for vhost in nginx_vhosts %}
    server {
        {%- if vhost.ssl is defined and vhost.ssl %}
            listen 80;
            listen 404;
        {%- else %}
            listen 80;
        {%- endif %}
        server_name {{ vhost.server_name }}
        root {{ vhost.root }}
        index index.html

        location / {
            try_files $uri $uri / =404;
        }
    }
{%- endfor %}
